@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
   box-sizing: border-box; 
   scroll-behavior: smooth;
}
header{
    background-color: rgb(56, 56, 176);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;

}
.logo{
text-decoration: none;
color: rgba(19, 116, 186, 0.945);
text-transform: uppercase;
font-weight: 700;
font-size: 1.8em;

}

.navigation a{
 color: rgba(19, 116, 186, 0.945);
 text-decoration: none;
 font-size: 1.1em;
 font-weight: 500;
 padding-left: 30px;
}

.navigation a:hover{
    color: blue;
}
section{
    padding: 100px 200px;
}
.main{
    width:100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(images/pp.png) no-repeat ;
    background-size:auto;
    background-position: center; 
    background-attachment: fixed;   
}
.main h2{
    color: rgb(75, 94, 191);
    font-size: 1.4em;
    font-weight: 500;

}

.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: rgb(27, 108, 189);
    font-size: 3em;
    font-weight: 600;
    
}

.main h3{
    color: rgb(75, 94, 191);
    font-size: 2em; 
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn{
    color: rgb(30, 31, 31);
    background-color: rgb(34, 48, 241);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover{
     background-color: rgb(54, 62, 182);
     transform: scale(1.1);
}

.icons a{
    color: rgb(37, 117, 220);
     font-size: 1.7em;
     padding-right: 30px;
}
.icons :hover{
    transform: scale(1.1);
}
.title{
    display: flex;
    justify-content:center;
    color: rgb(34, 48, 241);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.aboutme{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    background-color: rgb(255, 255, 255);
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1,1 ,1 ,15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover{
    transform: scale(1.1) ;
}
.icon{
    color: rgb(34, 48, 241);
    font-size: 8em;
    text-align: center;
}

.info{
    text-align: center;
}
.info h3 {
    color: rgb(34, 48, 241);
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.footer{
    background-color: rgb(24, 26, 25);
    color: rgb(254, 254, 254);
    padding: 2em;
    display: flex;
    justify-content: space-between;
}
.footer_title{
    font-size: 1.3em;
    font-weight: 600;


}

.footer_title span{
    color: rgb(18, 18, 124);
}
